<mat-toolbar color="primary">
  <a class="home-link" routerLink="/">
    <span>lighthouse-automation-frontend</span>
    <span class="logo">
      <mat-icon class="logo-item">speed</mat-icon>
    </span>
  </a>
  <span class="toolbar-spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu" mat-icon-button icon=""><mat-icon>account_circle</mat-icon></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/report-task">Report Tasks</button>
    <button mat-menu-item (click)="logout()" >Logout</button>
  </mat-menu>

</mat-toolbar>
