<lha-app-toolbar></lha-app-toolbar>
<div class="setup-container">
  <h1>
    Create first admin account
  </h1>
  <mat-card>
    <form [formGroup]="createFirstAdminForm" (ngSubmit)="clickCreateFirstAdmin()">
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput required [formControl]="usernameControl" />
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput required [formControl]="emailControl" />
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput required [formControl]="passwordControl" type="password" />
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Repeat password</mat-label>
          <input matInput required [formControl]="passwordRepeatedControl" type="password" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit">Create</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
